<!-- start footer -->

<div class="footer mt-5">
  <!-- start top-footer -->

  <div
    class="top-footer text-center d-flex justify-content-center align-items-center"
  >
    <span>Win a contest! Get this limited-editon </span>
    <a href="">View Detail</a>
  </div>

  <!-- end top-footer -->
  <!-- start middle-footer -->

  <div class="midde-footer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <div class="logo mb-3">
            <img src="./imgs/header/logo.png" alt="" />
          </div>
          <div class="content">
            <ul class="p-0">
              <li>71 Pilgrim Avenue Chevy Chase, east california.</li>
              <li class="d-flex">
                <span>Call Us:</span>
                <a href="">+44 0123 456 789</a>
              </li>
              <li class="d-flex">
                <span>Email:</span
                ><a href="+example@ec-email.com">+example@ec-email.com</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-12">
          <h2 class="border-bottom">Information</h2>
          <div class="content">
            <ul class="p-0">
              <li class="pb-1">
                <a href="">About us</a>
              </li>
              <li class="pb-1">
                <a href="">FAQ</a>
              </li>
              <li class="pb-1">
                <a href="">Delivery Information</a>
              </li>
              <li>
                <a href="">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-12">
          <h2 class="border-bottom">Account</h2>
          <div class="content">
            <ul class="p-0">
              <li class="pb-1">
                <a href="">My Account</a>
              </li>
              <li class="pb-1">
                <a href="">Order History</a>
              </li>
              <li class="pb-1">
                <a href="">Wish List</a>
              </li>
              <li>
                <a href="">Specials</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-12">
          <h2 class="border-bottom">Services</h2>
          <div class="content">
            <ul class="p-0">
              <li class="pb-1">
                <a href="">Discount Returns</a>
              </li>
              <li class="pb-1">
                <a href="">Policy & policy</a>
              </li>
              <li class="pb-1">
                <a href="">Customer Service</a>
              </li>
              <li>
                <a href="">Term & condition</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <h2 class="border-bottom">Newsletter</h2>
          <div class="content">
            <ul class="p-0">
              <li class="pb-1">
                <p>
                  Get instant updates about our new products and special promos!
                </p>
              </li>
              <li class="pb-1">
                <div
                  class="d-flex justify-content-between align-items-center border p-1"
                >
                  <input
                    class="form-control"
                    type="email"
                    placeholder="Enter your email here... "
                    value
                  />
                  <button class="btn btn-primary">
                    <i class="fa-regular fa-paper-plane"></i>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <button
              class="accordion-button collapsed border-bottom"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Contact us
            </button>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul class="p-0">
                  <li>71 Pilgrim Avenue Chevy Chase, east california.</li>
                  <li class="d-flex">
                    <span>Call Us:</span>
                    <a href="">+44 0123 456 789</a>
                  </li>
                  <li class="d-flex">
                    <span>Email:</span
                    ><a href="+example@ec-email.com">+example@ec-email.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <button
              class="accordion-button collapsed border-bottom"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Information
            </button>

            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul class="p-0">
                  <li class="pb-1">
                    <a href="">About us</a>
                  </li>
                  <li class="pb-1">
                    <a href="">FAQ</a>
                  </li>
                  <li class="pb-1">
                    <a href="">Delivery Information</a>
                  </li>
                  <li>
                    <a href="">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <button
              class="accordion-button collapsed border-bottom"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Account
            </button>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul class="p-0">
                  <li class="pb-1">
                    <a href="">My Account</a>
                  </li>
                  <li class="pb-1">
                    <a href="">Order History</a>
                  </li>
                  <li class="pb-1">
                    <a href="">Wish List</a>
                  </li>
                  <li>
                    <a href="">Specials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <button
              class="accordion-button collapsed border-bottom"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-controls="flush-collapseFour"
            >
              Services
            </button>
            <div
              id="flush-collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul class="p-0">
                  <li class="pb-1">
                    <a href="">Discount Returns</a>
                  </li>
                  <li class="pb-1">
                    <a href="">Policy & policy</a>
                  </li>
                  <li class="pb-1">
                    <a href="">Customer Service</a>
                  </li>
                  <li>
                    <a href="">Term & condition</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div
              class="accordion-button collapsed border-bottom"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              Newsletter
            </div>
            <div
              id="flush-collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingFive"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <ul class="p-0">
                  <li class="pb-1">
                    <p>
                      Get instant updates about our new products and special
                      promos!
                    </p>
                  </li>
                  <li class="pb-1">
                    <div
                      class="d-flex justify-content-between align-items-center border p-1"
                    >
                      <input
                        class="form-control"
                        type="email"
                        placeholder="Enter your email here... "
                        value
                      />
                      <button class="btn btn-primary">
                        <i class="fa-regular fa-paper-plane"></i>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end middle-footer -->
  <!-- start bottom-footer -->

  <div class="bottom-footer border-top mt-3 p-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="icons d-flex align-items-center">
            <i class="face fa-brands fa-facebook-f"></i>
            <i class="twiter fa-brands fa-twitter"></i>
            <i class="insta fa-brands fa-instagram"></i>
            <i class="linkd fa-brands fa-linkedin-in"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <p>
            Copyright © 2021-2022
            <a href="">EKKA.</a> All Rights Reserved
          </p>
        </div>
        <div class="col-lg-4 col-md-12 text-sm-center">
          <img src="./imgs/footer/payment.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- end bottom-footer -->
</div>

<!-- end footer -->
